<form [formGroup]="loginForm" (ngSubmit)="onSubmit">
  <div class="form-control">
    <label>Email</label>
    <input type="text" class="form-control" placeholder=" Enter email" formControlName="email">
    <p *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched">Not require</p>
    <p *ngIf="loginForm.controls.email.hasError('email') && loginForm.controls.email.touched">Wrong format</p>
  </div>

  <div class="form-control">
    <label>Password</label>
    <input type="text" class="form-control" placeholder=" Enter password" formControlName="password">
    <p *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched">Not require</p>
    <p *ngIf="loginForm.controls.password.hasError('minlength') && loginForm.controls.password.touched">Wrong format,min length is 6</p>
  </div>

  <button type="submit" class="btn btn-primary mt-5">Sign in</button>
</form>
