<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table class="container">
    <tr>
      <td>NAME:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>PRICE</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>DESCRIBLE</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục</td>
      <td>
        <select formControlName="category">
          <option>--Chọn danh mục--</option>
          <option [ngValue]="category" *ngFor="let category of categories">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><button type="submit">CREATE</button></td>
    </tr>
  </table>
</form>
