<table class="table table-hover table-striped table-center container-fluid" style="margin-top: 0px" id="table">
  <thead>
  <tr style="height: 70px">
    <th style="height: 70px" class="border-0 text-white bg-dark">ID</th>
    <th style="height: 70px" class="border-0  text-white bg-dark">CUSTOMER TYPE</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">NAME</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">DATE OF BIRTH</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">GENDER</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">INDENTITY</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">PHONE NUMBER</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">EMAIL</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">ADDRESS</th>
    <th style="height: 70px" class="border-0 bg-dark  text-warning">𝔼𝔻𝕀𝕋</th>
    <th style="height: 70px" class="border-0 bg-dark  text-warning">𝔻𝔼𝕋𝔸𝕀𝕃</th>
    <th style="height: 70px" class="border-0 bg-dark ">
      <span style="color: red">𝔻</span>
      <span style="color: white">𝔼</span>
      <span style="color: gold">𝕃</span>
      <span style="color: white">𝔼</span>
      <span style="color: gold">T</span>
      <span style="color: red">𝔼</span>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr >
    <td>Kh-0001</td>
    <td>Diamond</td>
    <td>Nguyễn Thảo Uyên</td>
    <td>13-08-1999</td>
    <td>Nữ</td>
    <td>9999.9999</td>
    <td>0905.999.999</td>
    <td>girl9xtimboy2k@gmail.com</td>
    <td>Đà Nẵng</td>
    <td><button class="btn btn-warning ml-1" style="border-radius: 20px"><i class="bi bi-pencil-square"></i></button> </td>
    <td><button class="btn btn-warning ml-2" style="border-radius: 20px"><i class="bi bi-eye"></i></button></td>
    <td> <button class="btn btn-danger ml-3" style="border-radius: 20px"><i class="bi bi-trash3"></i></button></td>
  </tr>
  </tbody>
  <tr >
    <td>Kh-0001</td>
    <td>Diamond</td>
    <td>Nguyễn Thảo Uyên</td>
    <td>13-08-1999</td>
    <td>Nữ</td>
    <td>9999.9999</td>
    <td>0905.999.999</td>
    <td>girl9xtimboy2k@gmail.com</td>
    <td>Đà Nẵng</td>
    <td><button class="btn btn-warning ml-1" style="border-radius: 20px"><i class="bi bi-pencil-square"></i></button> </td>
    <td><button class="btn btn-warning ml-2" style="border-radius: 20px"><i class="bi bi-eye"></i></button></td>
    <td> <button class="btn btn-danger ml-3" style="border-radius: 20px"><i class="bi bi-trash3"></i></button></td>
  </tr>
  <tr >
    <td>Kh-0001</td>
    <td>Diamond</td>
    <td>Nguyễn Thảo Uyên</td>
    <td>13-08-1999</td>
    <td>Nữ</td>
    <td>9999.9999</td>
    <td>0905.999.999</td>
    <td>girl9xtimboy2k@gmail.com</td>
    <td>Đà Nẵng</td>
    <td><button class="btn btn-warning ml-1" style="border-radius: 20px"><i class="bi bi-pencil-square"></i></button> </td>
    <td><button class="btn btn-warning ml-2" style="border-radius: 20px"><i class="bi bi-eye"></i></button></td>
    <td> <button class="btn btn-danger ml-3" style="border-radius: 20px"><i class="bi bi-trash3"></i></button></td>
  </tr>
</table>
